<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>racecontrol</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Notable">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Timmana">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container" style="max-width: 1600px;">
        <div class="row" style="background: linear-gradient(rgb(247,178,227) 7%, rgb(8,118,248) 100%);">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1" style="padding: 0;height: 75px;"><a class="btn btn-primary text-center" role="button" style="background: url(&quot;assets/img/be-logoV2.png&quot;) no-repeat;background-size: cover;padding: 0;height: 75px;width: 75px;border-width: 0;border-style: none;" href="/"></a></div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-10 text-nowrap align-self-center">
                <header>
                    <h1 style="font-family: Notable, sans-serif;text-shadow: 2px 2px 9px rgb(255,255,255);color: rgb(6,2,18);font-size: 29px;">Race Control Center</h1>
                </header>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 text-right" style="padding: 0;height: 75px;"><a class="btn btn-primary text-center" role="button" style="background: url(&quot;assets/img/be-logoV2.png&quot;) no-repeat;background-size: cover;padding: 0;height: 75px;width: 75px;border-width: 0;border-style: none;" href="/"></a></div>
        </div>
        <div class="row" style="padding-bottom: 1em;">
            <div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 text-center" style="height: 400px;">
                <h1 style="margin-top: 100px;"><i class="far fa-frown" style="margin-right: 10px;"></i>Something went wrong!</h1>
                <h3>Engineers will be on it.</h3><a class="btn btn-primary" role="button" href="/"><i class="fas fa-home" style="margin-right: 5px;"></i>Go home</a>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>