<!--
  #%L
  racecontrol-server
  %%
  Copyright (C) 2020 bausdorf engineering
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<!-- Use debug=true here if you want to see output from the appender itself -->
<configuration>
  <!-- Use shutdownHook so that we can close gracefully and finish the log drain -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
  <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
    <token>[YOUR_TOKEN]</token>
    <logzioUrl>https://listener-eu.logz.io:8071</logzioUrl>
    <logzioType>java</logzioType>
    <addHostname>true</addHostname>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <additionalFields>application=race-control</additionalFields>
  </appender>

  <root level="debug">
    <!-- IMPORTANT: make sure to include this line, otherwise the appender won't be used -->
    <appender-ref ref="LogzioLogbackAppender"/>
  </root>
</configuration>
